fastapi
uvicorn
sentence-transformers
pdfminer.six
scikit-learn
torch
faiss-cpu
python-multipart

# python -m venv venv
# source venv/bin/activate  # On Windows: venv\\Scripts\\activate
# source venv/bin/activate
# uvicorn search:app --reload --port 8000
# python3 init_db.py